html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button
{
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  height: 40px;
  margin-right: 16px;
}
